@model IEnumerable<InventoryApp.Models.ItemCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItemCategoryCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCategoryCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItemCategoryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ItemCategoryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ItemCategoryId })
        </td>
    </tr>
}

</table>
