@model InventoryApp.Models.ItemInformation

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ItemInformation</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ItemInformationId)

        <div class="form-group">
            @Html.LabelFor(model => model.ItemCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemCode)
                @Html.ValidationMessageFor(model => model.ItemCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ItemName)
                @Html.ValidationMessageFor(model => model.ItemName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemCategoryId, "ItemCategoryId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ItemCategoryId", String.Empty)
                @Html.ValidationMessageFor(model => model.ItemCategoryId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ItemTypeId, "ItemTypeId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ItemTypeId", String.Empty)
                @Html.ValidationMessageFor(model => model.ItemTypeId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UomId, "UomId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("UomId", String.Empty)
                @Html.ValidationMessageFor(model => model.UomId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks)
                @Html.ValidationMessageFor(model => model.Remarks)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
